<!doctype html>
<html lang="en">
  <head>
    <title>titulo xd</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">

    <style>
body {
  background-image: url('/templates/wallpapers/wall1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
    </style>
    
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
      <!-- Contenedor vacío a la izquierda para equilibrar el espacio -->
      <div class="navbar-nav me-auto" style="visibility: hidden;">
          <a class="nav-item nav-link fw-bold" href="/admin/login">Login</a>
      </div>

      <!-- Contenedor para los enlaces centrados -->
      <div class="navbar-nav mx-auto"> <!-- mx-auto centra el contenido -->
          <a class="nav-item nav-link fw-bold" href="/">Inicio</a>
          <a class="nav-item nav-link fw-bold" href="/productos">Productos</a>
          <a class="nav-item nav-link fw-bold" href="/nosotros">Sobre Nosotros</a>
          <a class="nav-item nav-link fw-bold" href="/contacto">Contacto</a>
      </div>
      
      <!-- Contenedor para el botón de Login alineado a la derecha -->
      <div class="navbar-nav ms-auto"> <!-- ms-auto lo empuja a la derecha -->
          <a class="nav-item nav-link fw-bold" href="/admin/login">Login</a>
      </div>
  </nav>
    <div class="container">
      <br>