<!doctype html>
<html lang="en">
  <head>
    <title>RAMA | PANEL</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-dark">
      <div class="nav navbar-nav w-100 justify-content-center">
          <a class="nav-item nav-link active fw-bold text-white hover-effect" href="/admin/">Inicio</a>
          <a class="nav-item nav-link fw-bold text-white hover-effect" href="productos">Productos</a>
          <a class="nav-item nav-link fw-bold text-white hover-effect" href="cerrar">Cerrar</a>
          <a class="nav-item nav-link fw-bold text-white hover-effect" href="/">Sitio web</a>
      </div>
  </nav>
  
  <!-- Estilo personalizado para el efecto hover -->
  <style>
      .hover-effect:hover {
          color: #007bff !important; /* Cambia el color al pasar el mouse */
          transition: color 0.3s ease; /* Transición suave */
      }
  </style>
    <br>